header h1 {
    background-image: url('../img/paginaweb.png');
    background-size: cover;
    width: 100%;
    height: 100px;
    background-position: center;
    margin: 0;
    padding: 0;
    padding-top: 20rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: rgb(2, 175, 138);
    color: #ffffff;
    line-height: 1.5em;
    font-size: 1em;
    padding: 1%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: #000;
    text-decoration: dashed;
    padding: 0.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.Concepto h1 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.Principal {
    display: flex;
    align-items: center;
}

.Principal div {
    text-align: left;
    background-color: rgb(151, 187, 173);
    font-size: 1.5rem;
    padding: 30px;
    color: #fff;
    width: 50%;
    margin: 2rem;
}

.cajaEtapas ul {
    display: flex;
    justify-content: center;
    padding: 2%;
    list-style: none;

}

.cajaEtapas ul li {
    padding: 5%;
    background-color: rgb(151, 187, 173);
    color: #fff;
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
}

.cajaEtapas ul li p {
    font-weight: bold;
    font-size: 1.2rem;
}

.cajaBeneficios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 7rem);
    grid-template-rows: repeat(2, 7rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 60px;
}

.cajaBeneficios div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(151, 187, 173);
    border-radius: 2rem;
    text-align: center;
}

.cajaBeneficios div p {
    font-weight: bold;
    font-size: 1.2rem;
}

.cajaCasos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    flex-direction: column;
}

.cajaCasos div {
    text-align: left;
    background-color: rgb(151, 187, 173);
    font-size: 1.2rem;
    padding: 20px;
    color: #fff;
    width: 60%;
    height: 70%;
    margin: 1rem;
    color: #000;
}
.cajaCasos div p{
    font-weight: bold;
    font-size: 1.2rem;
}
